@media all and (max-width: 799px) {
@-ms-viewport { /* play nice with IE mobile */
		width: 480px;
		zoom: 0.8;
	}

    body {
        background:#ebca0e;
        color:#000000;
        margin-left: 20%;
        text-align:center;
        font-size: 19px;
        padding: 0px;
        margin: 0px;
    }

    h2 {
        font-size: 26px;
        margin-bottom: 8px;
    }

    .wrap {
        margin:5%;
        width: 90%;
        background: white;
        box-shadow:0px 0px 0px 0px #888888;
    }

    .wrap_list{
        margin-left: 25%;
        margin-right: 25%;
        text-align: left;
    }
    .logo{
        background-position: center;
        background-image:url('../images/QRHuntLogo5.jpg');
        background-repeat:no-repeat;
       
        border: none;
        height:25%;
    }

    .menu{
        padding-top: 2px;
        padding-bottom: 2px;
        margin: 0px;
        width: 95%;
        margin:2%;
    }

    .menu ul
    {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    .menu li
    {
        border-top: 5px;
        box-shadow:0px 0px 15px 5px #888888;
    }

    .menu a
    {
        display: block;
        background-color: #ebca0e;
        color: #000000;
        text-decoration: none;
        width: 100%;
        font-weight: bold;
    }

}